/*Body font*/
body
{
background-color:#fff;
font-family: 'Droid Sans', sans-serif;
text-decoration: none;
}


/*Title font styling*/
ul.Title
{
    width: 100%;
    height: 27px;
    margin: 0;
    padding: 0;
}

ul.Title li
{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-indent:1px;
    font-size: 1.2em;
    width: 49.4%;
}


ul.Title a
{
    background: #f50;
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    padding: 0;
    text-decoration: strong;
    border-bottom: 1px solid #fff;
    
} 


/*RSS Feed styling*/
#WeGotMadData ul.rss-items
{
    display: none;
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', serif;
}

#WeGotMadData ul.rss-items li
{
    display: block;
    margin: 0;
    padding: 0;
    text-indent:1px;
}

#WeGotMadData ul.rss-items a
{
    margin: 0;
    padding: 0;
    display: block;
    padding: 2px 2px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

#WeGotMadData ul.rss-items a:hover
{
    background: #f50;
    color: #fff;
    text-decoration: none;
} 


/*RSS Footer styling*/
ul.Footy
{
    background: #f50;
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    padding: 0;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 1em
}

ul.Footy li
{
    display: block;
    margin: 0;
    padding: 0;
    text-indent:1px;
}

ul.Footy a
{
    background: #f50;
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    padding: 0;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 1em
} 
