/*Body font*/
body
{
background-color:#fff;
font-family: 'Droid Sans', sans-serif;
text-decoration: none;
}


/*Title font styling*/


div.rss-title
{
	 background: #f50;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 2.6em;
    padding: 2px;
    border-bottom: 2px solid #fff;
	 /* text-shadow: 1px 1px 1px #c20; */   
}


div.rss-title a
{
    background: #f50;
    color: #fff;
    margin: 0px;
    display: block;
} 


/*RSS Feed styling*/
#rssdata ul.rss-items
{
    display: none;
    margin: 0;
    padding: 0px;
    font-size: 1.3em;
    font-family: 'Droid Sans', serif;
    /* text-shadow: 1px 1px 0px #ccc; */
}

#rssdata ul.rss-items li
{
    display: block;
    margin: 0;
    padding: 0;
    text-indent:1px;

}

#rssdata ul.rss-items a
{
    margin: 0;
    display: block;
    padding: 3px 3px 3px 3px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    
}

#rssdata ul.rss-items a:hover
{
    background: #f50;
    color: #fff;
    text-decoration: none;
    /* text-shadow: 1px 1px 0px #111; */
} 


/*RSS Footer styling*/
.rss-footer
{
    background: #f50;
    color: #fff;
    height: 91px;
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    
}




